header {

    /* Positioning */
    height:0px;
}

h1 {

    /* Typography */
    font-size:36px;
    text-align:center;
    color:#201b1f;
    font-weight:450;

}

body {

    /* Typography */
    font-family: 'Montserrat', sans-serif;
    font-weight:450;

}

h2 {
  
    /* Typography */
    font-size:24px;
    text-align: justify;
}

h3 {
   
    /* Typography */
    font-size:24px;
}

h4 {
  
    /* Typography */
    font-size:18px;
}

h5 {

    /* Typography */
    font-size:12px;
}

footer  {

    /* Box-Model */
    padding-right:43px;
}

.bkgd {

    /* Positioning */
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    min-width: 100%;
    min-height: 120%;
    position:fixed;
    
    /*Aesthetic */
    background-image: url("./Assets/Roulette.jpg"); 
    opacity:0.15;
}

.headerH1 {

    /* Typography */
    font-size:12px;
}

.navbar {

    /* Box-Model */
    padding-left:75px;
}

.navbar-brand {

    /* Box-Model */
    padding-bottom:10px;
}

.introOutro {
    
    /* Box-Model */
    margin-left:5%;
    margin-top:45px;
    border:2px solid #201b1f;
    border-radius:5px;
    padding-left:17%;
    padding-right:17%;
    padding-top:6%;

    /* Positioning */
    position:fixed;
    height:90%;
    width:90%;
    z-index:2;

    /* Aesthetic */
    background-color: white;

}

.startBtn {

    /* Typography */
    font-size:18px;
}


.btn-link {

    /* Box-Model */
    border-radius:5px;
    border: 2px solid #201b1f;

    /* Positioning */
    width:100%;

    /* Typography */
    color:#201b1f;
    font-size:18px;
}


.container {

    /* Box-Model */
    margin-top:70px;
    border: 2px solid #201b1f;
    border-radius:5px;
    padding:30px;

    /* Positioning */
    width:90%;
    height:90%;

    /* Aesthetic */
    background-color:white;
    opacity:0.8;
}

.row {

    /* Box-Model */
    margin: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: #201b1f;
    padding-top:10px;
    padding-bottom:10px;

    /* Positioning */
    height: 75px;
    align-items:center;

    /* Typography */
    text-align:center;  

    /* Aesthetic */
    background-color:white;
    opacity:0.8;
}

.rowQuestion
.rowStats {

    /* Positioning */
    height:60px;
}

.questionCurrent {

    /* Typography */
    text-align:center;  
}

.rowAnswer {

    /* Box-Model */
    border:none;
}

.col-md-3
.col-md-6
.col-md-12 {

    /* Box-Model */
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
}

.col-md-12 {

    /* Typography */
    text-align:center;
}

.col-md-2 {

    /* Box-Model */
    padding-bottom:32px;

    /* Typography */
    text-align: left;
}

.outcome {

    /* Box-Model */
    padding-bottom:30px;

    /* Typography */
    font-weight:600;
}

.labelBox {

    /* Box-Model */
    padding-bottom:35px;

    /* Typography */
    text-align:right;
}

.timeLeft
.scoreBoard {

    /* Typography */
    text-align:left;
}

.restart {

    /* Box-Model */
    margin-top:10px;
}


/*  ____________________________
    Below is where I house all of the :hover rules */

.startBtn:hover {

    /* Aesthetic */
    background-color:#D66B35;
}


.btn-link:hover {

    /* Typography */
    color:#201b1f;
    text-decoration:none;
    font-weight:600;
}


.a:hover {

    /* Aesthetic */
    background-color:#A92521
}


.b:hover {
    
    /* Aesthetic */
    background-color:#fce879;
}

.c:hover {

    /* Aesthetic */
    background-color:#57876F
}

.d:hover {

    /* Aesthetic */
    background-color:#16408A;
}

.score-submit:hover {

    /* Aesthetic */
    background-color:#7F8988
}

.restart:hover {

    /* Aesthetic */
    background-color:#92344E
}

.bio-link:hover {

    /* Aesthetic */
    background-color:#64937D
}


/*  ____________________________
    Optimizing for tablet */

    @media only screen and (max-width:768px) {

    h2
    h3 {

        font-size:20px;
    }
}

/*  ____________________________
    Optimizing for mobile phones */

@media only screen and (max-width:425px) {

    ul
    li {

        /* Typography */
        font-size:12px;
    }

    .introOutro {

        /* Box-Model */
        padding-left:5px;
        padding-right:44px;

        /* Positioning */
        width:300px;
    }

    .introOutroH1 {

        /* Typography */
        font-size:20px;
    }

    .rowAnswer {

        /* Positioning */
        height:145px;
    }

    .labelBox {

        /* Positioning */
        width:115px;
    }

    .col-md-2 {

        /* Positioning */
        width:115px;
    }

    .outcome {

        /* Typography */
        font-size:18px;
    }

    .rowStats {

        /* Positioning */
        height:135px;
    }

    .btn-link {

        /* Typography */
        font-size:12px;
    }

}





